.address {

    &>* h1 {
        text-align: center;
        letter-spacing: 2px;
        font-size: 3rem;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        margin-bottom: 2rem;
        padding: .5rem 0;
    }

    &__contact h3 {
        font-size: 2.2rem;
    }
}

.form{
    &__group{
        width: 100%;
        &>*{
            border: 2px solid $color-primary;
            font-size: 1.2rem;
            letter-spacing: 2px;
            float: left;
            &:focus{
                outline: none;
            }
        }
        &:nth-child(2){
            display: flex;
        }
    }
    &__input{
        width: 33.333333%;
        padding: 20px 10px;
        &--border{
            border-left: none;
            border-right: none;
        }
    }
    &__text{
        border-top: none;
        border-bottom: none;
        padding: 1rem;
        min-width: 60rem;

        height: 30rem;
        margin: 0 auto;
    }
    
    &__btn{
        text-align: center;
        width: 100%;
        padding: 2rem 0px;
        background-color: #fff;
        font-size: 2rem;
        color: inherit;
        font-family: inherit;
        transition: background-color 0.4s;
        &:hover{
            background-color: $color-primary;
            color: #fff;
        }
    }
}
