.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .6),
        rgba($color-primary-dark, .7)),
        url(../img/Main-Slider/Slider-1.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    @include respond(tab-port){
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    position: relative;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}