.accordion {
    margin-bottom: 30px;
    border-top: 2px solid $color-primary-light;
    border-bottom: 2px solid $color-primary-light;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

    &__btn {
        font-size: 1.6rem;
        font-family: inherit;
        color: inherit;
        font-weight: 600;
        text-align: left;
        padding: 10px;
        border: 0;
        background-color: #fff;
        cursor: pointer;
        width: 100%;
        transition: all 1s;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $color-primary-light !important;
        }

        &::after {
            content: '\f103';
            font-family: 'fontawesome';
            font-size: 2rem;
            float: right;
            margin: 0 10px;
            font-weight: bolder;
        }
    }

    &__content {
        // margin: 8px;
        max-height: 0;
        margin-left: 20px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }
}

.why {
    padding: 6rem 0;
    img {
        height: 100%;
        width: 90%;
    }
}