body{
    padding: 0;
}
.hero-img{
    background-image: url(../img/aerial-air-air-traffic-674783.jpg);
    height: 35rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -25rem;
}
.section-altours{
    padding: 7rem 0;
}